// .items_list {
// display: flex;
// flex: 1 0 auto;
// justify-content: center;
// align-items: center;
// min-height: 60px;
// background-color: gray;
// }

.items_list__wrapper {
    padding: 10px;
    flex: 1 0 auto;
}

.items_list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}